body {
   background: #333333; 
   font-family: 'Lato', sans-serif;                                
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

/* Main header section */

h1 {
    color: white;
    font-size: 2.8rem;
    font-family: 'fx logo'
}

.movie-title {
    color: rgba(255, 255, 255, 0.692);
    font-size: 1rem;
    margin: 10px 0 0 0;
}

.movie-year {
    color: rgba(255, 255, 255, 0.692);
    margin: 10px 0 0 0;
}

/* Changes "Favorite" text to a gradient */

.gradient-text {
    background-image: linear-gradient(45deg, #d41044, #f89f03);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* Input box section */

input {
    width: 50%;
    height: 30px;
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.562);
    border-radius: 5px;
    padding-left: 15px;
}

input:focus {
    outline: none;
}

input[type=text]{
    color: rgba(255, 255, 255, 0.616);
}

.fa-magnifying-glass {
    color: white;
    margin-left: 10px;
}

.fa-magnifying-glass:hover {
    background: rgba(0, 0, 0, 0.116);
    cursor: pointer; 
}



/* Movie Results Grid Section */

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;

}

.movie-card {
    margin-top: 60px;

}

img {
    width: 280px;
    height: 400px;
   
}

img:hover {
    cursor: pointer; 
}


/* js related classes */
/* .hide-result-grid {
    display: none;
} */
